src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="kitinterconnexionuemoa-main">
        <http:listener path="/api/v1/*" config-ref="kitinterconnexionuemoa-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<flow-ref doc:name="to cors-headers" doc:id="de5cf4b4-b4ff-45c2-bc86-1225c85a35ad" name="cors-headers"/>
		<apikit:router config-ref="kitinterconnexionuemoa-config" />
		<!-- [STUDIO:"Handle CORS Preflight"]<choice doc:name="Handle CORS Preflight" doc:id="6fa231fb-4bbf-442e-bcd6-c1674c734d50" >
			<when expression="#[attributes.method == 'OPTIONS'&#93;">
				<set-payload value="#[payload&#93;" doc:name="Empty Response" doc:id="b3adbb30-ab34-47f5-a10f-49a75ff1a151" />
				<set-variable value="#[200&#93;" doc:name="Set Variable" doc:id="297991eb-2ad5-4b79-9590-ef1a15bb3ae7" variableName="httpStatus"/>
			</when>
		</choice> [STUDIO] -->
		<error-handler ref="global-error-handler" />
    </flow>
    <sub-flow name="cors-headers" doc:id="d3372bcc-45d7-49f0-a007-7824a94bff7f" >
		<set-variable value="#[{&#10;	&quot;Access-Control-Allow-Origin&quot;: '*',&#10;	&quot;Access-Control-Allow-Methods&quot;: 'GET, POST, PUT, DELETE, OPTIONS',&#10;	&quot;Access-Control-Allow-Headers&quot;: 'Content-Type, Authorization, X-Source-Country, X-Correlation-ID, X-Source-System',&#10;	&quot;Access-Control-Max-Age&quot;: '3600'&#10;	}]" doc:name="Set CORS Headers" doc:id="c7f08379-92ac-491c-86c9-19e6368d67b2" variableName="corsHeaders"/>
	</sub-flow>
	<flow name="kitinterconnexionuemoa-console">
        <http:listener path="/console/*" config-ref="kitinterconnexionuemoa-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="kitinterconnexionuemoa-config"/>
		<error-handler ref="global-error-handler" />
    </flow>
    <flow name="get:\health:kitinterconnexionuemoa-config">
		<flow-ref doc:name="to health-check" doc:id="e6d0e4f2-9426-427d-9067-3808c9b0ada2" name="health-check"/>
    </flow>
    <flow name="post:\paiement\notification:application\json:kitinterconnexionuemoa-config">
		<flow-ref doc:name="to receive-payment-notification" doc:id="727041fd-4484-43b8-b8bc-5fd59bfd6ef0" name="receive-payment-notification"/>
    </flow>
    <flow name="post:\manifeste\transmission:application\json:kitinterconnexionuemoa-config">
		<flow-ref doc:name="to receive-manifeste-from-pays-a" doc:id="c4ac9c42-535b-4d2b-8a07-049d2eb55eb8" name="receive-manifeste-from-pays-a"/>
    </flow>
    <flow name="post:\tracabilite\enregistrer:application\json:kitinterconnexionuemoa-config">
		<flow-ref doc:name="to record-commission-trace" doc:id="96fd8383-128b-47e2-8d2d-70f23df4a7aa" name="record-commission-trace"/>
    </flow>
</mule>
